# Taken from https://github.com/argenos/nldates-obsidian/blob/master/.github/workflows/release.yml
name: Build and test

on:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "24.x" # You might need to adjust this value to your own version
      - name: Build
        id: build
        run: |
          npm install
          npm run lint
          npm run build --if-present
          npm test
